# NestJS Server Configuration
PORT=3001

# Supabase PostgreSQL Connection String
DATABASE_URL="postgresql://postgres:password@db.supabase.co:5432/postgres?connection_limit=1"

# Upstash Serverless Redis Configuration
REDIS_MODE="standalone" # Options: standalone | cluster | sentinel
REDIS_URL="rediss://:your-password@your-endpoint.upstash.io:6379"

# FastAPI Agent endpoint
AGENT_URL="http://localhost:8000"
